@media screen and (max-width: 767px) {
    .head {
      display: block;
      padding-top: 0;
    }
  
    .head__name {
      text-align: center;
    }
  
    .head__links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    .mainInfo__subtitle {
      margin: 15px 0;
    }

    .mainInfo__title {
      margin-bottom: 0;
      display: none !important;
    }

    .mainInfo__title-secondary {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mainInfo__title,
    .mainInfo__subtitle,
    .advertiseSto__title
    {
      text-align: center;
    }
  
    .contacts__data-info {
      font-weight: 400;
    }
  }
  
  @media screen and (max-width: 550px) {
    .mainInfo__img {
      max-height: 200px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .singleService__controls-title h2 {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 575px) {
    .singleService__controls {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  }

  @media screen and (max-width: 475px) {
   .contacts__data-img {
     width: 80px;
   }
  }

  @media screen and (max-width: 330px) {
    .contacts__data-info {
      font-size: 16px;
    }
   }