body {
  font-family: arial, helvetica neue, helvetica, sans-serif;
}

.mainBlock {
  background-color: #ff8900;
  padding-bottom: 20px;
}

.head {
  padding-top: 68px;
  padding-bottom: 14px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__name {
  font-size: 48px;
  color: #fff;
}

.head__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__links-blog {
  font-size: 24px;
  color: #fff;
}

.head__links-blog:hover {
  color: #fff;
}

.head__links-makeCall {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  background: #4caf50;
  border: 0;
  font-weight: bolder;
  font-size: 16px;
}

.head__links-makeCall:hover {
  cursor: pointer;
}

.mainInfo {
  color: #fff;
}

.mainInfo__title,
.mainInfo__title-secondary{
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.mainInfo__title-secondary{
  font-size: 2.5rem;
  display: none;
}

.mainInfo__title h1 {
  font-weight: 700;
}

.mainInfo__title,
.mainInfo__subtitle {
  margin: 35px 0;
  font-family: Helvetica, Arial, sans-serif;
}

.advertiseSto__title h2,
.services__title h2,
.trustment__title h2,
.contacts__title h2,
.statistic__inner-title h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.statistic__inner-title,
.services__title {
  margin-bottom: 50px;
}

.trustment__title {
  margin: 20px 0 60px;
}

.svg_wrap {
  width: 150px;
  border-radius: 0px;
}

.img_container {
  position: relative;
}

svg {
  fill: #0fa74d !important;
}

.preference__title,
.preference__text {
  text-align: center;
}

.preference__title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 50px 0;
}

.preference__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.preferences {
  border-bottom: 1px solid #999;
  padding: 100px 0 40px;
}

.singlePreference {
  margin: 25px 0;
}

.advertiseSto__title {
  margin-bottom: 50px;
}

.mainInfo__img {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.mainInfo__img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.statistic__inner {
  padding: 60px 0;
  border-bottom: 1px solid #999;
}

.statistic__inner-chart {
  min-width: 310px; 
  height: 500px; 
  margin: 0 auto;
}

.singleService {
  border-bottom: 1px solid #999;
  padding: 35px 0;
}

.singleService__controls-title h2 {
  font-family: arial, helvetica neue, helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
}

.servicesInner {
  padding: 40px 0;
}

.singleService__controls-button {
  margin-top: 35px;
}

.singleService__controls-button button,
.singleService__controls-button a{
  font-family: arial, helvetica neue, helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
  padding: 10px 20px;
  background: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.singleService__controls-button button:hover {
  cursor: pointer;
}

.company__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.trustment {
  padding-bottom: 80px;
}

.contacts {
  background-color: #fafafa;
}

.contacts__title {
  padding-top: 40px;
  margin-bottom: 80px;
}

.contacts__data {
  border: 1px solid rgb(204, 204, 204);
  padding: 20px 20px;
  border-radius: 5px;
  background: #f5f5f5;
  margin: 15px 0;
}

.minMaxHeight {
  min-height: 240px;
  max-height: 293px;
}

.contacts__data-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}

.contacts__data-img,
.message-img {
  width: 64px;
  margin: 0 20px;
} 

.innerInfo {
  margin: 15px 0;
}

.innerInfo:last-child {
  margin-bottom: 0;
}

.contacts__data-info {
  font-style: italic;
  font-weight: 600;
  color: #0000CD;
  font-size: 18px;
}

.contacts__data-annotation{
  font-size: 14px;
}

.contacts__data-info:hover {
  text-decoration: none;
  color: #0000CD;
}

.makeQuestion h2 {
  font-size: 28px;
}

.makeQuestion__textarea {
  width: 100%;
  height: 150px;
  min-height: 100px;
  max-height: 200px;
  border-color: #ced4da;
  padding: 10px;
  border-radius: 30px;
}

.makeQuestion__textarea:focus {
  outline: none;
}

.makeQuestion__btn,
.makeCall__btn {
  font-family: arial, helvetica neue, helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  background: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.makeCall__form label::after {
  content: '*';
  color: #f00;
}

.feedback {
  background-color: rgba(245, 245, 245, 1);
  padding: 60px 45px;
  margin: 15px 0;
}

.vipModal__serviceList {
  list-style-type: none;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.vipModal__serviceList li:before {
  content: "- ";
}

.distributionWarn {
  color: #f00;
}

.distributionWarn::before {
  content: "";
  display: block;
  height: 1px;
  width: 50%;
  margin-bottom: 20px;
  background-color: #000;
}

.highcharts-credits {
  display: none !important;
}